# Tournament Simulations

## Among Us Tournament:  
20, 30, or 40 people most likely 

3phases: skeld (all players) , mirahq (top 20), Polus(top 10)

5 points for imposter win  
- 1 points for imposter kill

4 points for crewmate win  
- 2 point for correct vote  
- -1 point for incorrect vote

# Team combinations

In [2]:
from random import shuffle
from collections import defaultdict
import numpy as np
from math import factorial

In [27]:
players = list(range(1,31))
teams = defaultdict(list)

In [36]:
for i in range(1, 11):
    teams[f'Team #{i}'] = []

In [37]:
teams

defaultdict(list,
            {'Team #1': [],
             'Team #2': [],
             'Team #3': [],
             'Team #4': [],
             'Team #5': [],
             'Team #6': [],
             'Team #7': [],
             'Team #8': [],
             'Team #9': [],
             'Team #10': []})

In [43]:
# 30 players and 10 teams so 30 choose 10:
combinations_of_players = factorial(30)/(factorial(10)*factorial(20))

In [47]:
combinations_of_players

30045015.0

## Normalisation of Player scores

In [57]:
test_scores = np.array([15, 60, 54, 32, 40, 30])

In [58]:
N_games = 10

In [60]:
test_scores/N_games

array([1.5, 6. , 5.4, 3.2, 4. , 3. ])

In [56]:
test_scores2 = np.array([1, 6, 5, 3, 4, 3])

In [61]:
test_scores2/1

array([1., 6., 5., 3., 4., 3.])

# Randomisation of participants into teams of ten:

In [3]:
with open('participants.txt', 'r') as data:
    participants = data.read().split('\n')

In [4]:
participants
shuffled_participants = participants.copy()

In [5]:
# Randomise participants into groups of ten:
len(participants)

31

In [8]:
shuffled_participants

['Chen',
 'Cherrybanana87',
 'Manopoli',
 'Ella',
 'Kinetos',
 '.0.',
 'Frosty',
 'Bang',
 'Alan Beads',
 'Robin',
 'Jackuth',
 'Crypta',
 'BottleFly',
 'Swan',
 'Corgzie',
 'Lake',
 'BigManJosh',
 'Sparkeh',
 'Tomato',
 'Nugget',
 'DobbyD',
 'Yawar',
 'Ducky',
 'Shieks',
 'Betelgeuse',
 'WheresGoose',
 'Pressi',
 'Musique',
 'Coz',
 'DarkWais',
 'Mikel']

In [32]:
# shuffled_participants

In [33]:
# lobby1 = shuffled_participants[:10]
# lobby2 = shuffled_participants[10:20]
# lobby3 = shuffled_participants[20:30]
# lobby4 = shuffled_participants[30:]

In [34]:
# lobby1, len(lobby1)

In [35]:
# lobby2, len(lobby2)

In [36]:
# lobby3, len(lobby3)

In [37]:
# lobby4, len(lobby4)

### Seeding admins into the lobbies:

In [13]:
participants
#index value of admins in participants list:
admins = [0, 2, 8, 13, 15, 25]

In [57]:

# lobby1.append(participants[0])
# lobby2.append(participants[25])
# lobby3.append(participants[2])
# lobby1.append(participants[13])
# lobby2.append(participants[15])
# lobby3.append(participants[8])

['Cherrybanana87',
 'Manopoli',
 'Kinetos',
 '.0.',
 'Frosty',
 'Bang',
 'Alan Beads',
 'Robin',
 'Crypta',
 'BottleFly',
 'Swan',
 'Corgzie',
 'Lake',
 'Sparkeh',
 'Tomato',
 'DobbyD',
 'Yawar',
 'Ducky',
 'Shieks',
 'Betelgeuse',
 'WheresGoose',
 'Pressi',
 'Musique',
 'Coz',
 'DarkWais']